.p-Service.jsx.Div4 {
height: 222px;
}
.p-Service.jsx.Flex7 {
display: flex;
}
.p-Service.jsx.TextBox24 {
margin-top: 210px;
padding-top: 100px;
margin-bottom: 100px;
}
.p-Service.jsx.TextBox25 {
margin-top: 20px;
margin-left: 20px;
padding-right: 20px;
margin-bottom: 20px;
font-size: 28px;
}
.p-Service.jsx.TextBox26 {
margin-top: 20px;
margin-left: 20px;
padding-right: 20px;
margin-bottom: 20px;
font-size: 28px;
}
.p-Service.jsx.TextBox27 {
margin-top: 20px;
margin-left: 20px;
padding-right: 20px;
margin-bottom: 20px;
font-size: 28px;
}
.p-Service.jsx.TextBox28 {
margin-top: 20px;
margin-left: 20px;
padding-right: 20px;
margin-bottom: 20px;
font-size: 28px;
}
.p-Service.jsx.TextBox29 {
margin-top: 20px;
margin-left: 20px;
padding-right: 20px;
margin-bottom: 20px;
font-size: 28px;
}
