.p-Service.Div4 {
height: 222px;
}
.p-Service.Flex7 {
display: flex;
}
.p-Service.TextBox24 {
margin-top: 210px;
padding-top: 100px;
margin-bottom: 100px;
}
.p-Service.TextBox25 {
margin-top: 20px;
margin-left: 20px;
padding-right: 20px;
margin-bottom: 20px;
font-size: 28px;
}
.p-Service.TextBox26 {
margin-top: 20px;
margin-left: 20px;
padding-right: 20px;
margin-bottom: 20px;
font-size: 28px;
}
.p-Service.TextBox27 {
margin-top: 20px;
margin-left: 20px;
padding-right: 20px;
margin-bottom: 20px;
font-size: 28px;
}
.p-Service.TextBox28 {
margin-top: 20px;
margin-left: 20px;
padding-right: 20px;
margin-bottom: 20px;
font-size: 28px;
}
.p-Service.TextBox29 {
margin-top: 20px;
margin-left: 20px;
padding-right: 20px;
margin-bottom: 20px;
font-size: 28px;
}
